body {
  * {
    font-size: 20px;
  }
  background: linear-gradient(to top, #1a1a2e, #2e1a47);
  header {
    margin-bottom: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: linear-gradient(to top, #4d3055, #2e1a47);

    a {
      font-size: 20px;
      transition: all 0.5s;
    }
    a:hover {
      color: #f7a6c8;
      font-size: 22px;
    }
    .profil {
      display: flex;
      justify-self: end;
      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        font-size: 40px;
        color: #f8c8dc;
        transition: all 0.5s;
      }
      .material-symbols-outlined:hover {
        color: #f7a6c8;
        font-size: 42px;
      }
    }
    .acc {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  main {
    .sec-1 {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .box {
        display: flex;
        justify-content: space-around;
        .story {
          border-radius: 10px;
          width: 30%;
          height: 150px;
          background: linear-gradient(to bottom, #4d3055, #2e1a47);
          border: #1e1321 solid 2px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          h1 {
            font-size: 30px;
            text-align: center;
          }
          .btn-conteiner {
            display: flex;
            justify-content: center;
            --color-text: #f8c8dc;
            --color-background: #c94f7c;
            --color-outline: #ff145b80;
            --color-shadow: #00000080;
          }

          .btn-content {
            display: flex;
            align-items: center;
            padding: 5px 30px;
            text-decoration: none;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 50px;
            color: var(--color-text);
            background: var(--color-background);
            transition: 1s;
            border-radius: 100px;
            box-shadow: 0 0 0.2em 0 var(--color-background);
          }

          .btn-content:hover,
          .btn-content:focus {
            transition: 0.5s;
            -webkit-animation: btn-content 1s;
            animation: btn-content 1s;
            outline: 0.1em solid transparent;
            outline-offset: 0.2em;
            box-shadow: 0 0 0.4em 0 var(--color-background);
          }

          .btn-content .icon-arrow {
            transition: 0.5s;
            margin-right: 0px;
            transform: scale(0.6);
          }

          .btn-content:hover .icon-arrow {
            transition: 0.5s;
            margin-right: 25px;
          }

          .icon-arrow {
            width: 20px;
            margin-left: 15px;
            position: relative;
            top: 6%;
          }

          /* SVG */
          #arrow-icon-one {
            transition: 0.4s;
            transform: translateX(-60%);
          }

          #arrow-icon-two {
            transition: 0.5s;
            transform: translateX(-30%);
          }

          .btn-content:hover #arrow-icon-three {
            animation: color_anim 1s infinite 0.2s;
          }

          .btn-content:hover #arrow-icon-one {
            transform: translateX(0%);
            animation: color_anim 1s infinite 0.6s;
          }

          .btn-content:hover #arrow-icon-two {
            transform: translateX(0%);
            animation: color_anim 1s infinite 0.4s;
          }

          /* SVG animations */
          @keyframes color_anim {
            0% {
              fill: f8c8dc;
            }

            50% {
              fill: var(--color-background);
            }

            100% {
              fill: f8c8dc;
            }
          }

          /* Button animations */
          @-webkit-keyframes btn-content {
            0% {
              outline: 0.2em solid var(--color-background);
              outline-offset: 0;
            }
          }

          @keyframes btn-content {
            0% {
              outline: 0.2em solid var(--color-background);
              outline-offset: 0;
            }
          }
        }
        .info1 {
          display: none;
          position: fixed;
          height: 500px;
          width: 700px;
          z-index: 2;
          background: linear-gradient(to bottom, #4d3055, #2e1a47);
          border-radius: 20px;
          border: #1e1321 solid 2px;
          .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            text-align: center;
            h1 {
              margin-top: 20px;
              font-size: 25px;
            }
          }
          button {
            width: 200px;
            height: 40px;
            margin-top: 30px;
            background: #c94f7c;
            border-radius: 15px;
            transition: 0.5s;
          }
          button:hover {
            background: #e20a5a;
            width: 210px;
            height: 45px;
          }
        }
        .info1-View {
          display: inline;
        }
        .info1-hidden {
          display: none;
        }
        .info2 {
          display: none;
          position: fixed;
          height: 500px;
          width: 700px;
          z-index: 2;
          background: linear-gradient(to bottom, #4d3055, #2e1a47);
          border-radius: 20px;
          border: #1e1321 solid 2px;
          .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            text-align: center;
            h1 {
              margin-top: 20px;
              font-size: 25px;
            }
          }
          button {
            width: 200px;
            height: 40px;
            margin-top: 30px;
            background: #c94f7c;
            border-radius: 15px;
            transition: 0.5s;
          }
          button:hover {
            background: #e20a5a;
            width: 210px;
            height: 45px;
          }
        }
        .info2-View {
          display: inline;
        }
        .info2-hidden {
          display: none;
        }
        .info3 {
          transform: translateY(-203px);
          display: none;
          position: fixed;
          height: 500px;
          width: 700px;
          z-index: 2;
          background: linear-gradient(to bottom, #4d3055, #2e1a47);
          border-radius: 20px;
          border: #1e1321 solid 2px;
          .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            text-align: center;
            h1 {
              margin-top: 20px;
              font-size: 25px;
            }
          }
          button {
            width: 200px;
            height: 40px;
            margin-top: 10px;
            background: #c94f7c;
            border-radius: 15px;
            transition: 0.5s;
          }
          button:hover {
            background: #e20a5a;
            width: 210px;
            height: 45px;
          }
        }
        .info3-View {
          display: inline;
        }
        .info3-hidden {
          display: none;
        }
        .info4 {
          transform: translateY(-203px);
          display: none;
          position: fixed;
          height: 500px;
          width: 700px;
          z-index: 2;
          background: linear-gradient(to bottom, #4d3055, #2e1a47);
          border-radius: 20px;
          border: #1e1321 solid 2px;
          .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            text-align: center;
            h1 {
              margin-top: 20px;
              font-size: 25px;
            }
          }
          button {
            width: 200px;
            height: 40px;
            margin-top: 10px;
            background: #c94f7c;
            border-radius: 15px;
            transition: 0.5s;
          }
          button:hover {
            background: #e20a5a;
            width: 210px;
            height: 45px;
          }
        }
        .info4-View {
          display: inline;
        }
        .info4-hidden {
          display: none;
        }
        .info5 {
          transform: translateY(-406px);
          display: none;
          position: fixed;
          height: 500px;
          width: 700px;
          z-index: 2;
          background: linear-gradient(to bottom, #4d3055, #2e1a47);
          border-radius: 20px;
          border: #1e1321 solid 2px;
          .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            text-align: center;
            h1 {
              margin-top: 20px;
              font-size: 25px;
            }
          }
          button {
            width: 200px;
            height: 40px;
            margin-top: 10px;
            background: #c94f7c;
            border-radius: 15px;
            transition: 0.5s;
          }
          button:hover {
            background: #e20a5a;
            width: 210px;
            height: 45px;
          }
        }
        .info5-View {
          display: inline;
        }
        .info5-hidden {
          display: none;
        }
        .info6 {
          transform: translateY(-406px);
          display: none;
          position: fixed;
          height: 500px;
          width: 700px;
          z-index: 2;
          background: linear-gradient(to bottom, #4d3055, #2e1a47);
          border-radius: 20px;
          border: #1e1321 solid 2px;
          .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            text-align: center;
            h1 {
              margin-top: 20px;
              font-size: 25px;
            }
          }
          button {
            width: 200px;
            height: 40px;
            margin-top: 40px;
            background: #c94f7c;
            border-radius: 15px;
            transition: 0.5s;
          }
          button:hover {
            background: #e20a5a;
            width: 210px;
            height: 45px;
          }
        }
        .info6-View {
          display: inline;
        }
        .info6-hidden {
          display: none;
        }
        .info7 {
          display: none;
          position: fixed;
          height: 500px;
          width: 700px;
          z-index: 2;
          background: linear-gradient(to bottom, #4d3055, #2e1a47);
          border-radius: 20px;
          border: #1e1321 solid 2px;
          .text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            text-align: center;
            h1 {
              margin-top: 20px;
              font-size: 25px;
            }
          }
          button {
            width: 200px;
            height: 40px;
            margin-top: 10px;
            background: #c94f7c;
            border-radius: 15px;
            transition: 0.5s;
          }
          button:hover {
            background: #e20a5a;
            width: 210px;
            height: 45px;
          }
        }
        .info7-View {
          display: inline;
        }
        .info7-hidden {
          display: none;
        }
      }
    }
    .profile_info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .profile_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
          font-size: 200px;
        }
        button {
          background-color: #c94f7c;
          color: #f8c8dc;
          border: none;
          cursor: pointer;
          border-radius: 8px;
          width: 200px;
          height: 45px;
          transition: 0.3s;
        }

        button:hover {
          background-color: #7c304c;
          box-shadow: 0 0 0 5px #62253b;
          color: #f8c8dc;
        }
      }
      .info {
        border-radius: 15px;
        background: linear-gradient(#4d3055, #2e1a47, #4d3055);
        width: 800px;
        height: 300px;
        display: flex;
        div {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          h2 {
            margin-left: 30px;
            font-size: 25px;
          }
        }
        .ver_line {
          display: flex;
          align-self: center;
          margin-left: 50px;
          width: 2px;
          height: 250px;
          background: #1e1321;
        }
        .About {
          display: flex;
          flex-direction: column;
          justify-content: start;
          p {
            margin-top: 35px;
            margin-left: 50px;
            font-size: 25px;
          }
          #info {
            font-size: 20px;
          }
        }
      }
      .button {
        position: relative;
        overflow: hidden;
        height: 3rem;
        padding: 0 2rem;
        border-radius: 1.5rem;
        background: #c94f7c;
        background-size: 400%;
        color: #fff;
        border: none;
        cursor: pointer;
        top: 250px;
        left: 200px;
      }

      .button:hover::before {
        transform: scaleX(1);
      }

      .button-content {
        position: relative;
        z-index: 1;
      }

      .button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        width: 100%;
        height: inherit;
        border-radius: inherit;
        background: linear-gradient(
          82.3deg,
          rgba(150, 93, 233, 1) 10.8%,
          rgba(99, 88, 238, 1) 94.3%
        );
        transition: all 0.475s;
      }
    }
    .acc_story {
      display: flex;
      justify-content: center;
      margin-top: 75px;
      .story {
        background: linear-gradient(#4d3055, #2e1a47, #4d3055);
        width: 80%;
        height: 300px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
  .log {
    display: flex;
    justify-content: center;
    .registration {
      background: linear-gradient(#4d3055, #2e1a47, #4d3055);
      width: 550px;
      height: 820px;
      border-radius: 20px;
      .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        label {
          margin-top: 10px;
        }
        input {
          padding: 0px;
          width: 400px;
          height: 25px;
          border-radius: 10px;
          background: #6a4179;
          color: #f8c8dc;
          font-family: "Sour Gummy", sans-serif;
          font-weight: 300;
        }
        select {
          width: 400px;
          border-radius: 10px;
          background: #6a4179;
          color: #f8c8dc;
          font-family: "Sour Gummy", sans-serif;
          font-weight: 300;
        }
        .button {
          margin-top: 20px;
          background-color: #ffffff00;
          width: 12.5em;
          height: 2.3em;
          border: #2f2447 0.2em solid;
          border-radius: 11px;
          text-align: right;
          transition: all 0.6s ease;
        }

        .button:hover {
          background-color: #6a4179;
          cursor: pointer;
        }

        .button svg {
          width: 1.6em;
          margin: -0.2em 0.8em 1em;
          margin-left: 3em;
          position: absolute;
          display: flex;
          transition: all 0.6s ease;
        }

        .button:hover svg {
          transform: translateX(5px);
        }

        .text {
          margin: 0 1.5em;
          margin-right: 3em;
        }
      }
      a {
        color: #b18a9a;
      }
    }
  }
  footer {
    margin-top: 75px;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #4d3055, #2e1a47);
    div {
      display: flex;
      justify-content: space-around;
    }
    h1 {
      font-size: 20px;
      margin-top: 95px;
    }
    a {
      display: flex;
      justify-content: end;
      margin-top: 60px;
    }
  }
}
